---
import ParallaxImage from "@/components/ParallaxImage.astro";

interface Props {
  src: string;
  alt: string;
  transitionName?: string;
}

const { src, alt, transitionName } = Astro.props;
---

<div transition:name={transitionName}>
  <ParallaxImage src={src} alt={alt} />
</div>
